<div class="sidebar">
    <ul class="list">
        <li routerLink="dashboard" routerLinkActive ="active">
            <a><i class="bi bi-grid-fill"></i>
                <span class="nav-item">Dashboard</span>
            </a>
        </li>
        <li routerLink="view-doctor" routerLinkActive ="active ">
            <a ><i class="bi bi-person-fill"></i>
                <span class="nav-item">Doctors</span>
            </a>
        </li>
        <li routerLink="report" routerLinkActive="active">
            <a><i class="bi bi-file-earmark-arrow-down-fill"></i>
                <span class="nav-item">Report</span>
            </a>
        </li>
        <li routerLink="add-doctor" routerLinkActive ="active">
            <a><i class="bi bi-person-fill-add"></i>
                <span class="nav-item">Add Doctor</span>
            </a>
        </li>
    </ul>
</div>
