.confirm-button {
    background-color:#198754;
    color:white;
    border:1px solid white;
    padding:4px 10px 4px 10px;
    border-radius:6px;
    margin: 4px 10px 4px 10px;
}

#cancel-button{
    background-color:rgb(177, 62, 62);
}

.confirm-button:hover {
    color: white;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 1s ease;
}