.upcoming-appointments {
  margin-top: 20px;
  margin-bottom: 20px;
}

.upcoming-appointments h3 {
  padding: 0.75rem;
  background-color: #198754;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-header h5 {
  margin-bottom: 0;
}

.No_upcoming_appointments {
  margin-left: 1rem;
  font-weight: bold;
}
.col-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.card {
  border: 1px solid #ddd;
  /* border-radius: 10px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-header {
  background-color: #198754;
  color: white;
  padding: 10px;
  /* border-top-left-radius: 10px; */
  /* border-top-right-radius: 10px; */
  display: flex;
}

.card-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 0;
}

.appointment-cancel {
  justify-self: self-end;
}

#upcomingAppointment ::ng-deep .ngx-pagination .current {
  background: #198754;
}


.panel {
  margin-top: 2.5rem;
  background-color: white;
  min-height: 35rem;
  width: 98%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
