.completed-appointments {
  margin-top: 12px;
  margin-bottom: 12px;
}
.completed-appointments panel h3 {
  padding: 0.75rem;
  background-color: #198754;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 100%;

  color: white;
}
.card-header h5 {
  margin-bottom: 0;
}

.col-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.card1 {
  /* border: 1px solid #ddd; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  /* margin-bottom: 10px; */
  /* padding: 2rem; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* display: flex; */
}

.card-header {
  background-color: #198754;
  color: white;
  padding: 0.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  padding-left: 1rem;
}

.card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 0;
}

.appointment-cancel {
  justify-self: self-end;
}

#completedAppointment ::ng-deep .ngx-pagination .current {
  background: #198754;
}
/* Modal Header */
.modal-header {
  background-color: #198754; /* Change background color */
  color: #333; /* Change text color */
}

/* Modal Body */
.modal-body {
  background-color: #fff; /* Change background color */
  color: #333; /* Change text color */
}

.No_completed_appointments {
  margin-left: 1rem;
  padding: 0.5rem;
  font-weight: bold;
}

.completed-appointments h3 {
  padding: 0.75rem;
  background-color: #198754;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.panel {
  margin-top: 2.5rem;
  background-color: white;
  min-height: 35rem;
  width: 98%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-title {
  color: white;
}

.heading {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-weight: bold;
}
