* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Green theme */
:root {
  --primary-color: #c3e6cb; /* Light green */
  --secondary-color: #b1dfbb; /* Light green - darker shade */
  --text-color: #495057; /* Darker gray */
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* Off white */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.review-text {
  margin-left: 7rem;
  margin-right: 7rem;
}
.review-container {
  display: flex;
  align-items: center;
  padding: 20px;
}
.review-container.arrow-right {
  margin-left: auto;
}
.review-container.arrow-left {
  margin-right: auto;
}
.review-heading {
  margin: 1rem;
}

.date-container {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 3%;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.date-button {
  background-color: #fff;
  color: #2dc492;
  border: 2px solid #2dc492;
  /* border: none; */
  padding: 8px 16px;
  border-radius: 10px;
  margin: 0 5px;
}
.date-button.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.arrow-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: var(--text-color);
  cursor: pointer;
}

.arrow-button:hover {
  color: var(--secondary-color);
}

.card {
  border: 1px solid #2dc492;
  background-color: #f8f9fa;
  border-radius: 10px;
  margin-top: 1.2rem;
  /* padding-bottom: 5rem !important; */
  /* padding: 20px;
  padding-top: 0; */
  min-height: 22rem;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #198754;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0.8rem;
  padding-left: 1rem;
}

.card-title {
  color: var(--text-color);
}

.card-body {
  padding: 1rem;
}

.card-text {
  color: var(--text-color);
  padding: 0.3rem;
}

.button-list-container {
  margin-top: 1%;
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}
.button-list-container.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.button-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 20px;
}

.button-list .btn-primary {
  background-color: #fff;
  color: #2dc492;
  border: 2px solid #2dc492;
  width: 70%;
  min-height: 20%;
  width: 3.2rem;
  word-wrap: break-word;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.additional-content {
  color: #2dc492;
  background-color: #f8f9fa;
  border: 1px solid #2dc492;
  border-radius: 10px;
  padding: 1rem;
  margin-right: 3%;
}

#btn-book {
  margin-top: 2rem !important;
  background-color: #198754;
  border: none;
  color: white;
  margin: auto;
  text-align: center;
  margin-left: 50%;
  width: 6rem;
  height: 2.5rem;
  min-height: auto;
}

#btn-book:hover {
  background-color: #12633d;
}

body > .container > .row > .button-list-container > .button-list > button.btn.booked {
  pointer-events: none;
  color: black;
  background-color: #ee5353;
  font-weight: bold;
  border: 2px solid black;
}

body > .container > .row > .button-list-container > .button-list > button.btn.bookedWithThisDoctor {
  pointer-events: none;
  background-color: #4acf55; /* Dark purple background color */
  color: #0c0909;
  font-weight: bold;
  border: 2px solid green;
}

body > .container > .row > .button-list-container > .button-list > button.btn.bookedWithOtherDoctor {
  pointer-events: none;
  /* Decrease opacity for a translucent effect */
  background-color: #f0f08a; /* Dark purple background color */
  color: #0c0a0a; /* Bright red text color */
  font-weight: bold; /* Bold font weight */
  border: 2px solid rgb(11, 14, 11); /* Thick solid border with a dark color */

  /* Add box shadow for depth and emphasis */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

  /* Add transition for smooth hover effects */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.li.disabled {
  pointer-events: none;
  opacity: 1;
}
/* .btn.active{
          color:#da971c;
          opacity: 0.5;
      
      } */
.date-button.active {
  background-color: #2dc492;
  color: #fff;
  transform: scale(1.03);
}
.slot-button.active {
  background-color: #2dc492;
  color: #ee2f2f;
  font-weight: bold;
  border: 2px solid green;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  transform: scale(1.2);
}
.date-button:hover {
  background-color: rgb(27, 240, 116);
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}

.btn:hover {
  background-color: rgb(27, 240, 116);
  color: white;
  cursor: pointer;
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
  background-color: #2a2b2a;
}
/*----------------------------------*/
.additional-content {
  background-color: #f2f2f2; /* Light gray background */
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
  text-align: justify; /* Justify text */
}

.review-heading {
  color: #333; /* Dark text color */
}

.review-text {
  font-size: 16px; /* Adjust font size */
  line-height: 1.5; /* Adjust line height for better readability */
  font-style: italic;
}

.legend {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  word-wrap: break-word;
}

.color-box {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.booked {
  background-color: red; /* Red color */
}

.bookedWithThisDoctor {
  background-color: #4acf55; /* Dark purple background color */
  color: #0c0909;
  font-weight: bold;
  border: 2px solid green; /* Green color */
}

.bookedWithOtherDoctor {
  background-color: #f0f08a; /* Dark purple background color */
  color: #0c0a0a; /* Bright red text color */
  font-weight: bold; /* Bold font weight */
  border: 2px solid rgb(11, 14, 11); /* Blue color */
}

.profile-pic {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.legend {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  word-wrap: break-word;
}

.color-box {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.booked {
  background-color: red; /* Red color */
  color: #0c0909;
  font-weight: bold;
  border: 2px solid rgb(104, 39, 1); /* Green color */
}

.bookedWithThisDoctor {
  background-color: #4acf55; /* Dark purple background color */
  color: #0c0909;
  font-weight: bold;
  border: 2px solid green; /* Green color */
}

.bookedWithOtherDoctor {
  background-color: #f0f08a; /* Dark purple background color */
  color: #0c0a0a; /* Bright red text color */
  font-weight: bold; /* Bold font weight */
  border: 2px solid rgb(11, 14, 11); /* Blue color */
}
